* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f2f4f7;
}


.container {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


.left img {
    height: 106px;
    margin: -28px;
    border: 0px;
   
}

.left p {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    width: 500px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #1c1e21;

    
}


.login-box {
    background: white;
    width: 380px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 6px;
}


.login-btn {
    width: 100%;
    padding: 14px;
    background: #1877f2;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
}


.forgot {
    margin: 15px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}

.create-btn {
    padding: 14px;
    background: #42b72a;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}


.page-text {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
